
.hol{
    overflow-y: scroll;
}

.login_form{
    max-width: 350px;
}

.card-custom{
    max-width: 300px!important;
}

.card-custom-2{
    max-height: 150px!important;

background: -webkit-linear-gradient(-50deg, rgb(0, 123, 255), rgb(12, 41, 70));
background: linear-gradient(-50deg, rgb(0, 123, 255), rgb(12, 41, 70));

    color: white;
    border: none;
    font-size: 40px;


}

a:hover{
    text-decoration: none!important;
}
