
.login_form{
    max-width: 350px;
}

.card-custom-1{
    background: linear-gradient(135deg, rgb(0, 123, 255), rgb(40, 167, 69));
    color: white;
    border: none;
    font-size: 40px;
    opacity: 0.8;
}

.card-custom-2{
    background: linear-gradient(135deg, rgb(0, 123, 255), rgb(40, 167, 69));
    color: white;
    border: none;
    font-size: 40px;
    opacity: 0.8;
}

a:hover{
    text-decoration: none!important;
}
