{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css">
{% endblock %}

{% block body %}
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="row" style="padding: 0;">
    <div class="col-5">
      <h3 class="text-center">Approved requests</h3>
      <br>
      <div class="list-group">
        {% for r in requests %}
          {% if current_user.is_admin() %}
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{r.get_user().name}} {{r.get_user().surname}}</h5>
                <small>{{ moment(r.timestamp).calendar() }} </small>
              </div>
              <p class="mb-1">Requested <strong>{{ r.get_days_difference() }}</strong> days from <strong>{{ moment(r.date_from).format('DD/MM/YY') }}</strong> to <strong>{{ moment(r.date_to).format('DD/MM/YY') }}</strong>.</p>
            </a>
          {% else %}
            {% if r.user_id == current_user.id %}
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{r.get_user().name}} {{r.get_user().surname}}</h5>
                  <small>{{ moment(r.timestamp).calendar() }} </small>
                </div>
                <p class="mb-1">Requested <strong>{{ r.get_days_difference() }}</strong> days from <strong>{{ moment(r.date_from).format('DD/MM/YY') }}</strong> to <strong>{{ moment(r.date_to).format('DD/MM/YY') }}</strong>.</p>
              </a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="col-7">
      <h3 class="text-center">Calendar</h3>
      <span id="loading"></span>
      <div id='calendar'></div>
      <br>
      <div class="row text-center" style="padding: 0;">
        <div class="col"><a class="btn btn-outline-info" href="javascript:void(0)" onclick="get_prev_month()">Prev</a></div>
        <div class="col"><a class="btn btn-outline-info" href="javascript:void(0)" onclick="get_next_month()">Next</a></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
<script type="text/javascript">
  $('#loading').text('Loading...')
  $(function() {
    o = {
      events: {{ requests_for_calendar|safe }},
      eventColor: '#378006'
    };
    $('#calendar').fullCalendar(o);
    $('#loading').text('');
  });

  function get_prev_month(){
      $('#calendar').fullCalendar('prev');
  }
  function get_next_month(){
    $('#calendar').fullCalendar('next');
  }
</script>
{% endblock %}
