{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
<div class="container" style="padding: 50px 0; width: 85%;">
  <div class="row" style="padding: 0;">
   <form action="{{ url_for('recover_password', recover_token=token) }}" method="POST">
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.password) }}
      {{ wtf.form_field(form.password2) }}
      <input type="submit" class="btn btn-success btn-md" value="Submit">
    </form>
  </div>
</div>
{% endblock %}

