<h1>NEW holidays request</h1>

<p>Check below the details of this holidays request:</p>
<div class="row">
    <div class="col"><strong>Staff</strong></div>
    <div class="col">{{ user }}</div>
</div>
<br>
<div class="row">
    <div class="col"><strong>From</strong></div>
    <div class="col">{{ date_from }}</div>
</div>
<br>
<div class="row">
    <div class="col"><strong>To</strong></div>
    <div class="col">{{ date_to }}</div>
</div>
<br>
<div class="row">
    <div class="col"><strong>Comment</strong></div>
    <div class="col font-italic">" {{ comment }} "</div>
</div>

<p>Log into your account to approve or reject this request.</p>
