<h1>Your holidays request</h1>

<p>Check below the details of your holidays request:</p>
<div class="row">
    <div class="col"><strong>From</strong></div>
    <div class="col">{{ date_from }}</div>
</div>
<br>
<div class="row">
    <div class="col"><strong>To</strong></div>
    <div class="col">{{ date_to }}</div>
</div>
<br>
<div class="row">
    <div class="col"><strong>Comment</strong></div>
    <div class="col font-italic">" {{ comment }} "</div>
</div>

<p>You will receive a new email once your manager considers your request.</p>
<p>If you have any questions, speak to your manager.</p>
