{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="row" style="padding: 0;">
    <div class="col">
      <div class="list-group">
        {% for staff in staff_members %}
          <a href="{{ url_for('admin_user', user_id=staff.id) }}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ staff.name }} {{ staff.surname }}</h5>
              {% if staff.get_holidays_requests()['days_unapproved'] > 0 %}
              <small><span class="badge-warning badge">NEW request!</span></small>
              {% endif %}
            </div>
            <div class="row" style="padding: 5px;">
              <div class="col-2"><span class="badge badge-secondary">Quota</span></div>
              <div class="col-2"> {{ staff.holidays_quota }} days</div>
            </div>
            <div class="row" style="padding: 5px;">
              <div class="col-2"><span class="badge badge-secondary">Approved</span></div>
              <div class="col-2"> {{ staff.get_holidays_requests()['days_approved'] }} days</div>
            </div>
            <div class="row" style="padding: 5px;">
              <div class="col-2"><span class="badge badge-secondary">Pending</span></div>
              <div class="col-2"> {{ staff.get_holidays_requests()['days_unapproved'] }} days</div>
            </div>
            <div class="row" style="padding: 5px;">
              <div class="col-2"><span class="badge badge-secondary">Remaining balance</span></div>
              <div class="col-2"> {{ staff.get_holidays_requests()['balance'] }} days</div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
